:root {
  font-size: 62.5%;

  --white: #F6F6F6;
  --light-blue: #22D4FD;

  --transition: 0.15s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: var(--white);
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.header,
.presentation {
  max-width: 102.4rem;
  width: 80%;
}


/* HEADER */
.header {
  margin: 3rem 3rem 0;
}

.header__menu {
  display: flex;
  gap: 5rem;
}

.header__menu__link {
  color: var(--light-blue);
  font-size: 2.2rem;
  font-weight: 600;
  transition: var(--transition);
}

.header__menu__link:hover {
  filter: brightness(2);
  text-decoration: underline;
}


/* MAIN */
.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin: 0 3rem;
}

.presentation__content {
  max-width: 61.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.presentation__content__title {
  font-family: 'Krona One', sans-serif;
  font-size: 3rem;
  line-height: 4.6rem;
}

.title-strong {
  color: var(--light-blue);
}

.presentation__content__text,
.presentation__links__link {
  font-size: 2rem;
  line-height: 3rem;
}

/* links */
.presentation__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.presentation__links__subtitle {
  font-family: 'Krona One', sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  text-align: center;
}

.presentation__links__link {
  color: var(--light-blue);
  text-align: center;
  font-weight: 600;

  border: 0.2rem solid var(--light-blue);
  border-radius: 0.8rem;
  padding: 1.6rem;

  width: 22rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  transition: var(--transition);
}

.presentation__links__link:hover {
  cursor: pointer;
  color: var(--white);
  background-color: #171717;
}

.presentation__links__link__image {
  width: 2.4rem;
  height: 2.4rem;
}

.presentation__image {
  width: 42rem;
  height: 42rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgb(50 50 100);
}


/* FOOTER */
footer {
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  width: 100%;
  font-size: 2rem;
  color: #000000;
}

footer a {
  transition: var(--transition);
}

footer a:hover {
  color: #171717;
  text-decoration: underline;
}


/* RESPONSIVE */
/* 1120px */
@media (max-width: 70rem) {
  .presentation__content__title {
    font-size: 2.6rem;
    line-height: 4rem;
  }

  .presentation__content__text,
  .presentation__links__link {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .presentation__links__link {
    padding: 1.2rem;
    width: 17rem;
  }

  .presentation__image {
    width: 30rem;
    height: 30rem;
  }
}


/* 832px */
@media (max-width: 52rem) {
  .header__menu {
    justify-content: center;
  }

  .presentation {
    flex-direction: column-reverse;
  }

  .presentation__image {
    width: 15rem;
    height: 15rem;
  }
}


/* 512px */
@media (max-width: 32rem) {
  .header__menu__link {
    font-size: 1.8rem;
  }

  .presentation__content {
    gap: 2.5rem;
  }

  .presentation__content__title {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  .presentation__content__text,
  .presentation__links__link {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .presentation__links__subtitle {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .presentation__links {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .presentation__links__link__image {
    width: 2.2rem;
    height: 2.2rem;
  }

  footer {
    font-size: 1.6rem;
  }
}


/* 432px */
@media (max-width: 27rem) {

  .header,
  .presentation {
    width: 90%;
  }

  .header__menu__link {
    font-size: 1.6rem;
  }

  .presentation__content__title {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .presentation__content__text,
  .presentation__links__link {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .presentation__links__subtitle {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .presentation__links__link__image {
    width: 2rem;
    height: 2rem;
  }

  footer {
    font-size: 1.4rem;
  }
}