:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #F6F6F6;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Main */
.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin: 3rem 3rem 5rem;
}

.presentation__content {
  max-width: 61.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.presentation__content__title {
  font-family: 'Krona One', sans-serif;
  font-size: 3rem;
  line-height: 4.6rem;
}

.title-strong {
  color: #22D4FD;
}

.presentation__content__text,
.presentation__links__link {
  font-size: 2rem;
  line-height: 3rem;
}

.presentation__links {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
}

.presentation__links__link {
  color: #000000;
  text-align: center;
  padding: 2.2rem 5.4rem;
  background-color: #22D4FD;
  border-radius: 1rem;
  text-decoration: none;
  width: 22rem;
  font-weight: 600;

  transition: .3s ease-in-out;
}

.presentation__links__link:hover {
  filter: brightness(80%) drop-shadow(.2rem .2rem 1rem rgb(34 212 253 / 20%));
  cursor: pointer;
}

.presentation img {
  width: 42rem;
  height: 42rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgb(50 50 100);
}


/* RESPONSIVE */
/* 1120px */
@media (max-width: 70rem) {
  .presentation__content__title {
    font-size: 2.6rem;
    line-height: 4rem;
  }

  .presentation__content__text,
  .presentation__links__link {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .presentation__links__link {
    padding: 1.2rem 3.4rem;
    width: 17rem;
  }

  .presentation img {
    width: 30rem;
    height: 30rem;
  }
}


/* 832px */
@media (max-width: 52rem) {
  .presentation {
    flex-direction: column-reverse;
  }

  .presentation img {
    width: 15rem;
    height: 15rem;
  }
}


/* 512px */
@media (max-width: 32rem) {
  .presentation__content {
    gap: 2.5rem;
  }

  .presentation__content__title {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  .presentation__content__text,
  .presentation__links__link {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .presentation__links {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}