:root {
  font-size: 62.5%;

  --white: #F6F6F6;
  --light-blue: #22D4FD;

  --transition: 0.15s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: var(--white);
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.header,
.main {
  max-width: 102.4rem;
  width: 80%;
}


/* HEADER */
.header {
  margin: 3rem 3rem 0;
}

.header__menu {
  display: flex;
  gap: 5rem;
}

.header__menu__link {
  color: var(--light-blue);
  font-size: 2.2rem;
  font-weight: 600;
  transition: var(--transition);
}

.header__menu__link:hover {
  filter: brightness(2);
  text-decoration: underline;
}


/* MAIN */
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin: 0 3rem;
}

.main__content {
  max-width: 61.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.main__content__title {
  font-family: 'Krona One', sans-serif;
  font-size: 3rem;
  line-height: 4.6rem;
  font-weight: 400;
}

.title-strong {
  color: var(--light-blue);
}

.main__content__text,
.main__links__link {
  font-size: 2rem;
  line-height: 3rem;
}

/* links */
.main__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.main__links__subtitle {
  font-family: 'Krona One', sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  text-align: center;
}

.main__links__link {
  color: var(--light-blue);
  text-align: center;
  font-weight: 600;

  border: 0.2rem solid var(--light-blue);
  border-radius: 0.8rem;
  padding: 1.6rem;

  width: 22rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  transition: var(--transition);
}

.main__links__link:hover {
  cursor: pointer;
  color: var(--white);
  background-color: #171717;
}

.main__links__link__image {
  width: 2.4rem;
  height: 2.4rem;
}

/* image */
.main__image {
  width: 38rem;
  height: 38rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgb(50 50 100);
}


/* FOOTER */
footer {
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  width: 100%;
  font-size: 2rem;
  color: #000000;
}

footer a {
  transition: var(--transition);
}

footer a:hover {
  color: #171717;
  text-decoration: underline;
}